# Terraform
stacks/sandbox/**/.terraform
stacks/sandbox/**/.terraform.lock.hcl
.terraform
.terraform.lock.hcl
terraform.tfstate
.terraform.tfstate.backup
.terraform.tfstate.lock.info

# IDE
.vscode

# Tests
test
tests

# State files
wordpress-eks.tfstate
wordpress-eks.tfstate.backup

# Ignore TF vars globally
*.tfvars
*.tfvars.json

# Allow TFVars inside examples folder
!examples/
!examples/*.tfvars
!examples/**/*.tfvars

# Other ignores
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.kube-manifest/*.yaml
.internal