stacks/sandbox/**/.terraform
stacks/sandbox/**/.terraform.lock.hcl
.terraform
.terraform.lock.hcl
terraform.tfstate
.terraform.tfstate.backup
.terraform.tfstate.lock.info
.vscode
# Add tests
test
tests
wordpress-eks.tfstate
wordpress-eks.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.kube-manifest/*.yaml

