stacks/sandbox/**/.terraform
stacks/sandbox/**/.terraform.lock.hcl
.terraform
.terraform.lock.hcl
.vscode
wordpress-eks.tfstate
wordpress-eks.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json